/* para que tome el cambio */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Teko", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.background-body {
  position: absolute;
  width: 100%;
  height: 100%;
}
.login {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #d4d3d3;
}
.login__logo {
  position: absolute;
  left: 40%;
  top: 0;
}
.login__form {
  padding: 20px;
}
.login__guardar {
  width: 100%;
  margin-top: 10px;
}
input {
  display: block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
}
.login__form__user {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.login__form__pass {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
  background-color: white;
  border-radius: 20px;
}
.login__guardar {
  border: 1px solid black;
  height: 30px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}
